<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/menu.ejs') %>

<div class="container">
    <div class="not-found-container">
        <h1 class="error-code">404</h1>
        <p class="error-message">Sorry... the page you're looking for doesn't exist.</p>    
        <a href="/" class="back-link">Return to Dashboard</a>
    </div>
</div>

<%- include('includes/end.ejs') %>