<header>
  <div class="container">
    <div class="topbar">
      <div class="brand">
        <a href="/">
          <img src="/images/logo.jpeg" alt="ThreatNet Logo" class="logo-img">
        </a>
      </div>

      <nav aria-label="Primary navigation">
        <ul class="navlinks">
          <li><a href="/">Dashboard</a></li>
          
          <% if (isLoggedIn) { %>
            <li class="dropdown">
              <a href="#" class="dropbtn">IOC</a>
              <ul class="dropdown-content">
                <li><a href="/add-ioc">Report IOC</a></li>
                <li><a href="/search-ioc">Search IOC</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropbtn">CVE</a>
              <ul class="dropdown-content">
                <li><a href="/add-cve">Report CVE</a></li>
                <li><a href="/search-cves">CVE Database</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropbtn">APT</a>
              <ul class="dropdown-content">
                <li><a href="/add-apt">Report APT</a></li>
                <li><a href="/attack-groups">APT Database</a></li>
              </ul>
            </li>

            <li><a href="/attack-techniques">Techniques</a></li>            
            <li><a href="https://yuvalho2.mtacloud.co.il/ThreatNet/Includes/report-campaign.html">Report Campaign</a></li>            
          <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register-user">Register</a></li>
          <% } %>
        </ul>
      </nav>

      <section class="right">
        <% if (isLoggedIn) { %>
          <div class="dropdown">
            <div class="userbox dropbtn">
              <div class="role"><%= role %></div>
              <div class="team">
                <%= firstName ? 'Hello, ' + firstName : ' ' %>
                <span class="user-points">🏆 <%= points %></span>
              </div>
            </div>
            
            <ul class="dropdown-content user-menu">
              <li><a href="/logout" class="logout-btn">Log out</a></li>
            </ul>
          </div>
        <% } %>
      </section>
    </div>
  </div>
</header>

<main class="container">